parameters:
    level: 8
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    symfony:
        container_xml_path: var/cache/dev/XpTracker_KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
